

        <!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
        <main id="mainContent" class="main-content">
            <!-- Page Container -->
            <div class="page-container ptb-60">
                <div class="container">
                    <section class="stores-area stores-area-v1">
                        <h4 class="mb-40 t-uppercase">Xem danh sách chiến dịch theo đối tác</h4>
                        <div class="row row-rl-15 row-tb-15 t-center">
                            {{#with alert}}
                            <div class="col-md-12 form-group alert {{type}}">
                                <strong>{{{message}}}</strong>
                            </div>
                            {{/with}}
                            {{#each DSDoiTac}}
                            <div class="col-xs-6 col-sm-4 col-md-3">
                                <a href="/DoiTac/{{MaDoiTac}}" class="panel is-block">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        <div class="store-logo">
                                            <img src="/assets/images/DoiTac/{{imgPath}}" alt="">
                                        </div>
                                    </div>
                                    <h6 class="store-name ptb-10" href="/DoiTac/{{MaDoiTac}}">{{TenDoiTac}}</h6>
                                </a>
                            </div>
                            {{/each}}
                        </div>
                        <div class="page-pagination text-center mt-30 p-10 panel">
                            <nav>
                                <!-- Page Pagination -->
                                <ul class="page-pagination">
                                    <li><a class="page-numbers previous" href="#">Previous</a>
                                    </li>
                                    <li><a href="#" class="page-numbers">1</a>
                                    </li>
                                    <li><span class="page-numbers current">2</span>
                                    </li>
                                    <li><a href="#" class="page-numbers">3</a>
                                    </li>
                                    <li><a href="#" class="page-numbers">4</a>
                                    </li>
                                    <li><span class="page-numbers dots">...</span>
                                    </li>
                                    <li><a href="#" class="page-numbers">20</a>
                                    </li>
                                    <li><a href="#" class="page-numbers next">Next</a>
                                    </li>
                                </ul>
                                <!-- End Page Pagination -->
                            </nav>
                        </div>
                    </section>
                </div>
            </div>
            <!-- End Page Container -->


        </main>
        